@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;700;800&family=Ysabeau+Infant&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;700;800&family=Poppins&family=Ysabeau+Infant&display=swap');

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(50%);
  transition: 1s;
}

.visible {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}

.full-form-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5vh 0;
  padding: 0;
  transition: 1s ease-in-out;
}

.contact-section-wrapper {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 20px 4vw;
  width: 670px;

  transition: 0.2s ease-in-out;
}

//left side
.information-wrapper {
  display: flex;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  align-items: center;
  flex: 1;


  .information-container {
    flex-direction: column;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    max-width: 40vw;
    height: 400px;
    

    h1 {
      font-size: 2em;
      text-align: left;
    }

    .icons-text-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      width: 100%;
      flex: 1;

      p {
        display: flex;
        align-items: center;
        justify-content: left ;
        margin: 0;
        text-align: center;
        font-size: 13px;

        [data-highlight="icon"] {
          margin-right: 10px;

        }
      }
    }
  }
}

//right side 
.background-form-wrapper {
  display: flex;
  flex: 1;
  justify-content: right;
    
    .inside-form-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      border-radius: 5px;
      
    .form-container {
      display: flex;
      flex-direction: column;
      max-width: 18rem;

        .name-group {
          display: flex;
          flex-direction: row;
          margin-bottom: 8px;
          
          > .name-label {
            margin-right: 8px
          }

        }

        .contact-group {
          display: flex;
          flex-direction: column;
          margin-bottom: 8px;

          > .email-label {
            margin-bottom: 8px;
          }
        }
      }
    }

    label {
      font-weight: bold;
    }

    input:not(:placeholder-shown), textarea:not(:placeholder-shown){
      background-color: $color-purple-light;
      color: $color-white;
    }

    input,
    textarea {
      width: 100%;
      padding: 8px;
      background-color: $color-grey-3;
      box-sizing: border-box;
      box-shadow: 3px 3px 14px -5px rgba(0,0,0,0.47);
      -webkit-box-shadow: 3px 3px 14px -5px rgba(0,0,0,0.47);
      -moz-box-shadow: 3px 3px 14px -5px rgba(0,0,0,0.47);
      border: none;
      color: $color-purple-light;
      font-weight: 600;
      border-radius: 4px;
      font-family: $apple-font;
      outline: none;
      transition: all 300ms ease-in-out;

      &::placeholder {
        color: $color-white;
        opacity: 0.6;
        transition: all 300ms ease-in-out;
        font-weight: 300;
      }

      &:focus {
        background-color: $color-purple-light;
        color: $color-white;

        &::placeholder {
          opacity: 0;
        }
      
      }
    }

    textarea {
      min-height: 150px;
      resize: vertical;
      margin-bottom: 4px;
    }

    .form-submit-button {
      padding: 10px;
      background-color: $color-purple-light;
      border: none;
      color: $color-white;
      cursor: pointer;
      font-weight: 600;
      font-size: 1rem;
      font-family: $apple-font;
      border-radius: 4px;
      cursor: pointer;
      text-align: center;
      transition: 0.2s ease-in-out;
      white-space: nowrap;
      width: 90px;

      &:hover {
        background-color: $color-white;
        color: $color-purple-light;
        font-weight: 6y00;
      }
    }
  }


[data-highlight="highlight"] {
  color: $color-purple-light;
}

@media (width <= 768px) {
  .contact-section-wrapper {
    flex-direction: column;

    &.background-form-wrapper {
      transition-delay: 100ms;
    }
  }

  .information-wrapper {
    .information-container {
      max-width: 18rem;
      height: 300px;
    }
  }
}

@media (1px <= width <= 425px) {
  .background-form-wrapper {
    .inside-form-wrapper {
      .form-container {
        max-width: 16rem;


        .name-group {
          flex-direction: column;

          .name-label {
            margin-bottom: 8px;
            width: 100%;
          }

        }
      }
    }
  }
  
  .information-wrapper {
    .information-container {
      max-width: 16rem;
      height: 250px;
      margin-bottom: 3vh;

    }
  }
}