@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;700;800&family=Ysabeau+Infant&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;700;800&family=Poppins&family=Ysabeau+Infant&display=swap');

.full-form-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.contact-section-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

//left side
.information-wrapper {
  //background-color: $color-grey-2;
  display: flex;
  height: 70vh;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 2;

  .information-container {
    width: 20vw;
    text-align: center;
  }
}

//right side 
.background-form-wrapper {
  display: flex;
  height: 50vh;
  width: 500px;
  background-color: $color-grey-2;
  //border-top-right-radius: 15px;
  //border-bottom-right-radius: 15px;
  border-radius:27% 73% 79% 21% / 46% 30% 70% 54%;
  flex: 1;
    
    .inside-form-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 50vw;
      border-radius: 5px;
      

    .form-container {
      display: flex;
      flex-direction: column;
      max-height: 50vh;
      width: 17vw;

        .name-group {
          display: flex;
          flex-direction: row;
          margin-bottom: 8px;
          
          > .name-label {
            margin-right: 8px
          }

        }

        .contact-group {
          display: flex;
          flex-direction: column;
          margin-bottom: 8px;

          > .email-label {
            margin-bottom: 8px;
          }
        }
      }
    }

    label {
      font-weight: bold;
    }

    input,
    textarea {
      width: 100%;
      padding: 8px;
      background-color: $color-grey-3;
      box-sizing: border-box;
      box-shadow: 3px 3px 14px -5px rgba(0,0,0,0.47);
      -webkit-box-shadow: 3px 3px 14px -5px rgba(0,0,0,0.47);
      -moz-box-shadow: 3px 3px 14px -5px rgba(0,0,0,0.47);
      border: none;
      border-radius: 4px;
      max-height: 200px;
      outline: none;
    }

    textarea {
      min-height: 150px;
      resize: vertical;
      margin-bottom: 4px;
    }

    .form-submit-button {
      padding: 10px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 14px;
      width: 90px;
    }
  }


[data-highlight="highlight"] {
  color: $color-purple-light;
}

@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 425px) {
  .contact-section-wrapper {
    flex-direction: column;
    width: 100vw;
  }

  .background-form-wrapper {
    width: 350px;
    height: 350px;
  }

  .background-form-wrapper .inside-form-wrapper .form-container {
    width: 100vw;
}

  .information-wrapper .information-container {
    width: 100vw;
    text-align: center;
}
}