@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;700;800&family=Ysabeau+Infant&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;700;800&family=Poppins&family=Ysabeau+Infant&display=swap');

.contact-section-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 0px 15vw;
}

//left side
.information-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.information-container {
  background-color: $color-grey-2;
  height: 70vh;
  width: 100%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

//right side 
.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.form-container {
  width: 100%;
  height: 70vh;
  background-color: $color-grey-2;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

[data-highlight="highlight"] {
  color: $color-purple-light;
}