@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;700;800&family=Ysabeau+Infant&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;700;800&family=Poppins&family=Ysabeau+Infant&display=swap');

.footer-wrapper {
  height: 30vh;
  display: flex;
  align-items: center;
  flex-direction: row;
}