$color-purple-dark: #181626;
$color-purple-light: #695dd8;
$color-white: #f2f1f3;
$color-grey-light: #c0c0c0;
$color-grey: #26233a8a;
$color-grey-2: #37335a98;
$color-grey-3: #37335ac0;
$color-3: #352e98;
