.about-section-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 40vh;
  margin-bottom: 10rem;
  margin-top: -8rem;
}

.about-section-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

h1 {
  flex: 1;
  font-size: 3rem;
  margin-bottom: 20px;
  text-align: center;
}

.about-section-text {
  flex: 2;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (width <= 1200px) {
  .about-section-wrapper {
    height: 100vh;
    margin-bottom: -10rem;
    margin-top: -15rem;
  }
}

@media (width <= 768px) {
  .about-section-wrapper {
    margin: 5rem 0;
  }
  
}

@media (1px <= width <= 425px) {
  .about-section-container {
    margin: 0 8vw;
    .about-section-text {
      text-align: center;
    }
  }
}