@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;700;800&family=Ysabeau+Infant&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;700;800&family=Poppins&family=Ysabeau+Infant&display=swap');

.first-section-wrapper{
  z-index: 10;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.text-links-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10vw;
  margin-right: 8vw;
}

h1 {
  font-size: 74px;
  margin: 0;
}

h3 {
  margin-bottom: 60px;
}

.background-grey-text {
  position: absolute;
  color: $color-grey;
  z-index: -10;
}

.front, .end {
  font-size: 220px;
}


.threejs-image-container {
  height: 100%;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding-right: 100px;
}

.pfp-image {
  position: absolute;
  max-width: 400px;
  max-height: 400px;
  animation: animate 2s infinite ease alternate;
}

@keyframes animate {
  to{
    transform: translateY(20px)
  }
}

.sphere-container{
  display: flex;
  height: 100vh;
}