@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;700;800&family=Ysabeau+Infant&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;700;800&family=Poppins&family=Ysabeau+Infant&display=swap');

.portfolio-section-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.portfolio-layout-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5vh;

  .portfolio-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }
}

.portfolio-section-title {
  margin-bottom: 10px;
}

.view-more-container {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  > .view-more-button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 600;
    width: 100px;
    height: 50px;
    transition: 0.2s ease-in-out;

    &:hover {
      animation: animate 1s infinite ease-in-out alternate;
      font-weight: 600;
    }

    > .view-more-text {
      margin: 0;
      font: $font;
    }

    > .tabler-icon-caret-down {
      fill: $color-white;
    }
  }

}

@keyframes animate {
  to{
    transform: translateY(-5px)
  }
}

@media (width <= 768px) {
  .portfolio-layout-container {
    .portfolio-grid-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (1px <= width <= 425px) {
  .portfolio-layout-container {
    .portfolio-grid-container {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}




