:root {
  --font: 'Poppins', sans-serif;
  --color-purple-dark: #181626;
  --color-purple-light: #695dd8;
  --color-white: #f2f1f3;
  --color-grey-light: #c0c0c0;
  --color-grey: #26233a8a;
}

.first-section-wrapper{
  z-index: 10;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.text-links-container {
  height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10vw;
  margin-right: 8vw;
}

.button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  gap: 20px;
}

.Hit-me-up, .download-cv {
  margin: 0;
}

.download-cv {
  background-color: var(--color-white);
  color: var(--color-purple-light);
}

.download-cv:hover {
  color: var(--color-white);
  background-color: var(--color-purple-light);
}

h1 {
  font-size: 74px;
  margin: 0;
}

h3 {
  margin-bottom: 60px;
}

.background-grey-text {
  position: absolute;
  color: var(--color-grey);
  z-index: -10;
}

.front, .end {
  font-size: 220px;
}


.threejs-image-container {
  height: 100vh;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding-right: 100px;
}

.pfp-image {
  position: absolute;
  max-width: 400px;
  max-height: 400px;
  animation: animate 2s infinite ease alternate;
}

@keyframes animate {
  to{
    transform: translateY(20px)
  }
}

.sphere-container{
  display: flex;
  height: 100vh;
}